@model ZakazuvanjeTermin.Models.Recepta

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miligrami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miligrami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dozvolenaDoza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dozvolenaDoza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад кон листата", "Index")
</p>
